-- CreateTable
CREATE TABLE "Vault" (
    "id" TEXT NOT NULL PRIMARY KEY,
    "salt" TEXT NOT NULL,
    "verifier" TEXT NOT NULL,
    "settingsJson" TEXT NOT NULL,
    "createdAt" DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" DATETIME NOT NULL
);

-- CreateTable
CREATE TABLE "Credential" (
    "id" TEXT NOT NULL PRIMARY KEY,
    "vaultId" TEXT NOT NULL,
    "serviceName" TEXT NOT NULL,
    "url" TEXT NOT NULL,
    "department" TEXT,
    "project" TEXT,
    "category" TEXT,
    "tagsJson" TEXT NOT NULL,
    "usernameCiphertext" TEXT NOT NULL,
    "passwordCiphertext" TEXT NOT NULL,
    "notesCiphertext" TEXT NOT NULL,
    "passwordStrength" TEXT NOT NULL,
    "passwordFingerprint" TEXT NOT NULL,
    "createdAt" DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" DATETIME NOT NULL,
    CONSTRAINT "Credential_vaultId_fkey" FOREIGN KEY ("vaultId") REFERENCES "Vault" ("id") ON DELETE CASCADE ON UPDATE CASCADE
);

-- CreateIndex
CREATE INDEX "Credential_vaultId_idx" ON "Credential"("vaultId");

-- CreateIndex
CREATE INDEX "Credential_passwordFingerprint_idx" ON "Credential"("passwordFingerprint");

-- CreateIndex
CREATE INDEX "Credential_serviceName_idx" ON "Credential"("serviceName");

-- CreateIndex
CREATE INDEX "Credential_updatedAt_idx" ON "Credential"("updatedAt");

